/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/*Great Idea css*/

.nav-container {
	width: 1200px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding-top: 25px;


}
a {
	text-decoration: none;
	color: gray;
	font-size: 20px;
}

body {
	width: 1200px;
	margin: auto;
}

.caption-img-btn {
	width: 1200px;
	margin: 0auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	padding: 50px;	
	border-bottom: 1px solid black;
}

.main-caption {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
	font-size: 80px;
	margin: 0auto;
}

.round-image {
	margin: 0auto;
}

.button1 {
	background: white;
	margin: 0auto;
	font-size: 20px;
	border: 2px solid black;
	padding: 0px 25px 0px 25px;
	margin-top: 20px;
}

.text-container {
	margin: 0auto;
	width: 1200px;
	display: flex;
	flex-flow: column nowrap;
	border-bottom: 1px solid black;
	padding: 0px 0px 40px 0px;
}

.features-about {
	margin: 0auto;
	width: 1200px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.features-articles {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly; 
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.middle-img {
	width: 1200px;
	margin: 0auto;
}

.services-product-vision {
	margin: 0auto;
	width: 1200px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.contact-info {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	margin: 0auto;
	font-size: 20px;
	margin-top: 20px;
}

h5 {
	margin: 0auto;
}


.num-email {
	margin-top: 10px;
	align-self: auto;
}

h6 {
	margin-top: 100px;
	margin-bottom: 85px;
	align-self: center;
}

/*Services Site css*/

.services-header-img {
	width: 1200px;
	margin: 0auto;
	padding: 30px 0px 30px 0px;
}

.top-text {
	display: flex;
	flex-flow: column nowrap;
	margin: auto;
	padding-bottom: 30px;
	border-bottom: 1px solid black;
	font-size: 22px;
}

.services-container {
	width: 1200px;
	display: flex;
	flex-flow: row wrap;
	padding-top: 30px;
	border-bottom: 1px solid black;
}
.service-boxes {
	width: 48%;
	display: flex;
	flex-flow: column nowrap;
	background: lightgrey;
	border: 1px solid black;
	margin-bottom: 30px;
}

.button2 {
	background: white;
	width: 20%;
	margin: 5px 10px 10px 15px;
	font-size: 10px;
	height: 30px;
	width: 105px;
}

div p {
	margin: 0px 15px 15px 15px;
	font-size: 23px;
}

div h4 {
	margin: 15px;
	font-size: 20px;
}

.right {
	margin-left: 23px;

}

.left {
	margin-right: 23px;
}

.about-services {
	width: 1200px;
	display: flex;
	flex-flow: row nowrap;
	margin: 0px;
	
}

.about-services-txt {
	width: 48%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	margin-top: 35px;
	font-size: 22px;
}

.about-p {
	margin-top: 25px;
}

.services-info-img {
	width: 48%;
	padding-top: 40px;
	margin-left: 45px;
}

ul {
	margin-top: 20px;
	list-style-type: disc;
	margin-left: 20px;
}

li {
	margin-top: 20px;
	font-size: 25px;
}

.foot {
	width: 1200px;
	text-align: center;
	padding-top: 100px; 
}





